<div class="container">
    <div *ngIf="loader" class="loaderdel"></div>
    <div class="row">
        <div class="col-sm-9 ml-auto">
            <div class="container" *ngIf="list && list.length">

                <div class="heading">
                    <h4>Poll-List</h4>
                </div>

                <div class="panel-body">
                    <div class="pollallcard">
                        <div class="row">
                            <div *ngFor="let poll of list" class="Poll col-md-4">
                                <app-vote-poll (deletePollEmitt)='deletePoll($event)' (updatePollEmitt)='updatePoll($event)' [pollData]="poll"></app-vote-poll>
                                <p *ngIf="errorMessage">{{errorMessage}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!(list && list.length) " class="loader ">
            </div>
        </div>
    </div>
</div>