<div class="container">

    <div class="sub-container">
        <div class="heading">
            <h2>Login</h2>
        </div>
        <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="cross-validation">
                <div class="input">
                    <div class="input">
                        <span class="subname"> Email</span>
                        <input type="email" class="form-control" placeholder="email" formControlName="email">
                        <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" class="alert alert-danger">
                            <div *ngIf="loginForm.controls['email'].errors.required">
                                Email is required.
                            </div>
                            <div *ngIf="loginForm.controls['email'].errors.pattern">
                                Email is invalid.
                            </div>
                            <div *ngIf="loginForm.controls['email'].errors.minlength">
                                atleast 8 character required.
                            </div>
                        </div>
                        <span class="subname"> password</span>
                        <input type="password" class="form-control" placeholder="password" formControlName="password" required>
                        <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" class="alert alert-danger">
                            <div *ngIf="loginForm.controls['password'].errors.required">
                                password is required.
                            </div>
                            <div *ngIf="loginForm.controls['password'].errors.minlength">
                                atleast 4 character required.
                            </div>
                            <div *ngIf="loginForm.controls['password'].errors.pattern">
                                pattern should be one letter ,one number and one special character.
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="error">
                    <p *ngIf="errorMessage">{{errorMessage}}</p>
                </div>
                <button type="submit" class="btn btn-success btn-block" [disabled]="!loginForm.valid || loading">Login</button>
                <div class="loader"></div>
            </div>
        </form>
    </div>
    <p>if you don't. have an account
        <a routerLink="/register">Register</a>here.
    </p>
</div>