<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <app-sidemenu></app-sidemenu>
        </div>
        <div class="col-sm-9 ml-auto">
            <div class="heading">
                <h4>Update Poll Tittle</h4>
            </div>
            <div class="pollform">
                <form class="form-horizontal" [formGroup]="titleEdit" (ngSubmit)="onSubmit(titleEdit)">
                    <span class="subname"> Title</span>
                    <input type="text" class="form-control" placeholder="Title" formControlName="title">
                    <div *ngIf="titleEdit.controls['title'].errors && !titleEdit.controls['title'].pristine" class="alert alert-danger">
                        <div *ngIf="titleEdit.controls['title'].errors.required">
                            Name is required.
                        </div>
                        <div *ngIf="titleEdit.controls['title'].errors.pattern">
                            invalid Username
                        </div>
                        <div *ngIf="titleEdit.controls['title'].errors.minlength">
                            atleast 2 character required.
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success btn-block" [disabled]="(!titleEdit.valid || loading) ">Update
                    <div *ngIf="loading" class="loader"></div>
            </button>
                </form>
            </div>
        </div>
    </div>
</div>