.sidenav {
    height: 100%;
    width: 18vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

nav a {
    padding: 12px 26px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border-radius: 4px;
    margin-left: 10%;
    font-style: normal;
}

nav a:visited,
a:link {
    font-size: 21px;
    width: 100%;
}

nav a.active {
    color: #039be5;
    border-left: 5px solid blue;
}