<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <app-sidemenu></app-sidemenu>
        </div>
        <div class="col-sm-9 ml-auto">
            <div class="heading">
                <h4>Add-Poll-Option</h4>
            </div>
            <div class="pollform">
                <form class="form-horizontal" [formGroup]="addOption" (ngSubmit)="onSubmit(addOption)">
                    <div formArrayName="option" *ngFor="let item of polloption.controls; let i = index;">
                        <span class="option"> Poll-Option</span>
                        <div [formGroupName]="i">
                            <span>
                        <input formControlName="option" class="form-control" placeholder="Options">
                        <i class="fa fa-times" aria-hidden="true" (click)="removeinput()"></i>
                       </span>
                        </div>
                    </div>
                    <br>
                    <div class="button">
                        <button type="button" class="btn btn-success" (click)="addItem()">Add</button>
                    </div>
                    <button type="submit" class="btn btn-success btn-block" [disabled]="(!addOption.valid || loading) ">Update
                        <div *ngIf="loading" class="loader"></div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>