<div class="container">
    <div>
        <h4>Add-poll-Option</h4>
    </div>
    <div class="pollform">
        <form class="form-horizontal" [formGroup]="addOption" (ngSubmit)="onSubmit(addOption)">
            <span class="option"> Poll-Option</span>
            <input type="text" class="form-control" placeholder="Option" formControlName="Option">
            <div *ngIf="addOption.controls['Option'].errors && !addOption.controls['Option'].pristine" class="alert alert-danger">
                <div *ngIf="addOption.controls['Option'].errors.required">
                    Name is required.
                </div>

                <div *ngIf="addOption.controls['Option'].errors.minlength">
                    atleast 2 character required.
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-block" [disabled]="(!addOption.valid || loading) ">Update
        <div *ngIf="loading" class="loader"></div>
      </button>
        </form>
    </div>
</div>

<app-sidemenu></app-sidemenu>