<div class="container">
    <div>
        <h4>Add-poll</h4>
    </div>
    <div class="pollform">
        <form class="form-horizontal" [formGroup]="addpollForm" (ngSubmit)="onSubmit(addpollForm)">
            <div class="form-group">
                <span class="polltitle">Title</span>
                <input type="text" class="form-control" placeholder="Title" formControlName="title">
                <div *ngIf="addpollForm.controls['title'].errors && !addpollForm.controls['title'].pristine" class="alert alert-danger">
                    <div *ngIf="addpollForm.controls['title'].errors.required">
                        Titile is required.
                    </div>
                    <div *ngIf="addpollForm.controls['title'].errors.minlength">
                        atleast 4 character required.
                    </div>
                </div>
                <div formArrayName="option" *ngFor="let item of polloption.controls; let i = index;">
                    <span class="polltitle">Option</span>
                    <div [formGroupName]="i">
                        <div class="form-group row">
                            <div class="input-group mb-3 col-lg-6">
                                <input type=text formControlName="option" class="form-control" placeholder="Options">
                                <div class="input-group-prepend bg-white">
                                    <span class="input-group-text border-left-0 rounded-right bg-white" id="basic-addon1">
                                    <i class="fa fa-times" aria-hidden="true" (click)="removeinput(i)"></i>
                                     </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="button" class="btn btn-success" (click)="addItem()">Add</button>
            </div>
            <button type="submit" class="btn btn-success btn-block" [disabled]="!addpollForm.valid || loading">Add

                <div *ngIf="loading" class="loader"></div>
            </button>
        </form>
    </div>
</div>
<app-sidemenu></app-sidemenu>