.container {
    width: 32%;
    padding: 0 50px 20px;
    background: linear-gradient(#FFF);
    border: 1px solid #ccc;
    box-shadow: 0 0 5px;
    font-family: 'Marcellus', serif;
}

.title,
h4 {
    text-align: center;
    background-color: #337ab7;
    height: 20%;
    padding: 7px;
    border: 1px solid #337ab7;
    border-radius: 2px;
}

.pollform {
    width: 92%;
    margin-left: 15px;
}

.polltitle {
    margin-top: 10px;
}

.loader {
    float: right;
    margin-top: -3px;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 32px;
    height: 33px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.button>button {
    margin-right: 10px;
    margin-bottom: 10px;
}