<div class="container">
    <div class="heading">
        <h4>List-Users</h4>
    </div>
    <div class="row justify-content-center align-items-center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Users</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <div *ngIf="loader" class="loader"></div>
            <tbody>
                <tr *ngFor="let users of user">
                    <td>
                        {{users.name}}
                    </td>
                    <td>{{users.email}}</td>
                    <td>{{users.role}}</td>
                    <td>{{users.message}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>